out
log_files.yml

# IntelliJ #############################################################################################################
.idea

# Linux ################################################################################################################
*~

# NetBeans #############################################################################################################
nbproject

# Windows ##############################################################################################################
Thumbs.db
Desktop.ini

# Mac ##################################################################################################################
.DS_Store

# Keep it! (and keep this pattern at the end of .gitignore) ############################################################
!.gitkeep
